<!-- <div class="view-party"> -->
  <h1>view party</h1>
  <div class="party-table">
    <div class="">
      <h3 style="float:left;">party1: islandcrew</h3>
      <button style="float: right;margin-top: 20px; margin-bottom: 10px;">Delete</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          <th>Tier</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>Bulbasaur</td>
          <td>Grass</td>
          <td>UU</td>
          <td>
              <a style="color:green"><i class="glyphicon glyphicon-pencil"></i></a>
              <span style="padding:0 5px; color: lightgray">|</span>
              <a style="color:red"><i class="glyphicon glyphicon-remove"></i></a>
          </td>
        </tr>            
        <tr>
          <td>001</td>
          <td>Bulbasaur</td>
          <td>Grass</td>
          <td>UU</td>
          <td>Legal</td>
        </tr>
        <tr>
          <td>001</td>
          <td>Bulbasaur</td>
          <td>Grass</td>
          <td>UU</td>
          <td>Legal</td>
        </tr>
          <td>001</td>
          <td>Bulbasaur</td>
          <td>Grass</td>
          <td>UU</td>
          <td>Legal</td>
        </tr>            
        <tr>
          <td>001</td>
          <td>Bulbasaur</td>
          <td>Grass</td>
          <td>UU</td>
          <td>Legal</td>
        </tr>
        <tr>
          <td>001</td>
          <td>Bulbasaur</td>
          <td>Grass</td>
          <td>UU</td>
          <td>Legal</td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- </div> -->

