.create-team, .view-team {
  padding-bottom: 100px;
}

.navbar-brand {
	text-align: center;
}

.options {
	/*padding: 10px;*/
	/*background: lightgray;*/
}

.create-party {
  padding-bottom: 20px;
  float: left;
  width: 48%;
  padding-right: 20px;
}

.view-party {
	padding-bottom: 20px;
	float: left;
	width: 50%;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
}

.caret {
  position: absolute;
  top: 15px;
  right: 10px;
}

.main-img {
  zoom: 200%;
}

ul {
  list-style: none;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-title {
  font-weight: bold;
  color: white;
  padding-right: 15px;
}

.dropdown {
  height: 50px;
  width: 25%;
  font-size: 20px;
  font-weight: bold;
}

.pokemon:hover {
  color: red;
}

.pokemon:active {
  color: pink;
}